.App {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}



.App_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #323e4e;
  position: static;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.App_nav a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: powderblue;
  text-decoration: none;
}

.App_nav a:hover {
  color: yellow;
  transition: color 0.6s ease;
}

.App_footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #323e4e;
  color: powderblue;
}

/* .App_main {
  
} */

main header {
  margin: 100;
  background-color: #bed4df
}

.banner, h1 {
  margin: 0;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.Writer-Menu {
  padding-top: 20px;
}

.writer_name {
  font-size: 26px;
  font-weight: 300;
  color: #323e4e;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

.writer__menu__article__list {
  padding: 0px;
}

.Writer-Menu li {
  list-style: none;
  
  
}

.Writer-Menu li a {
  text-decoration: none;
  color: darkblue;

}

.Writer-Menu li a:hover {
  text-decoration: underline;
}

.Writer-Menu li a:visited {
  color: rgb(75, 75, 209);
}

.title_div {
  padding-top: 20px;
  border-width: 2px;
}

.content_div_input {
  border-width: 2px;
}

.blog-post-content {
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.create-comment-input {
  width: 180px;
}


@media screen and (min-width: 600px) { 
  .blog-post-content {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
  }

} 

@media screen and (min-width: 800px) {
  .App_nav {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media screen and (min-width: 1200px) {
  .App_nav {
    padding-left: 30%;
    padding-right: 30%;
  }
}
